# Auto detect text files and perform LF normalization
* text=auto

*.pas	working-tree-encoding=CP1251	eol=CRLF
*.cmd	working-tree-encoding=CP1251	eol=CRLF

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
